<script setup lang="ts">
import { useLogs } from '@stores/logs';
import { LogLevel } from '@customTypes/log';

const { filters, getLogs } = useLogs();

const intervalId = ref<number>();
const setAutoRefresh = (val: boolean | number | string) => {
  clearInterval(intervalId.value);
  if (!val) return;
  intervalId.value = setInterval(
    () => getLogs(),
    filters.value.refreshInterval * 1000,
  );
};

onMounted(() => setAutoRefresh(filters.value.autoRefresh));
</script>

<template>
  <el-form :model="filters" :inline="true">
    <el-row>
      <el-form-item label="Auto refresh">
        <el-switch
          v-model="filters.autoRefresh"
          class="ml-2"
          inline-prompt
          @change="setAutoRefresh"
        />
      </el-form-item>

      <el-form-item label="Refresh interval">
        <el-input-number
          v-model="filters.refreshInterval"
          :min="1"
          :max="30"
          :disabled="!filters.autoRefresh"
          @change="setAutoRefresh(true)"
        />
      </el-form-item>

      <el-form-item label="Start date">
        <el-date-picker
          v-model="filters.startDate"
          type="datetime"
          placeholder=""
          @change="getLogs"
        />
      </el-form-item>

      <el-form-item label="End date">
        <el-date-picker
          v-model="filters.endDate"
          type="datetime"
          placeholder=""
          @change="getLogs"
        />
      </el-form-item>
    </el-row>

    <el-row>
      <el-form-item label="Level">
        <el-select
          v-model="filters.level"
          placeholder=""
          @change="getLogs"
          clearable
        >
          <el-option label="Info" :value="LogLevel.INFO" />
          <el-option label="Error" :value="LogLevel.ERROR" />
          <el-option label="Warning" :value="LogLevel.WARNING" />
          <el-option label="Debug" :value="LogLevel.DEBUG" />
          <el-option label="Fatal" :value="LogLevel.FATAL" />
        </el-select>
      </el-form-item>

      <el-form-item label="Message">
        <el-input v-model="filters.message" @change="getLogs" clearable />
      </el-form-item>

      <el-form-item label="Commit">
        <el-input v-model="filters.commit" @change="getLogs" clearable />
      </el-form-item>
    </el-row>

    <el-row>
      <el-form-item label="Resource ID">
        <el-input v-model="filters.resourceId" @change="getLogs" clearable />
      </el-form-item>

      <el-form-item label="Trace ID">
        <el-input v-model="filters.traceId" @change="getLogs" clearable />
      </el-form-item>

      <el-form-item label="Span ID">
        <el-input v-model="filters.spanId" @change="getLogs" clearable />
      </el-form-item>

      <el-form-item label="Parent Resource ID">
        <el-input
          v-model="filters.parentResourceId"
          @change="getLogs"
          clearable
        />
      </el-form-item>
    </el-row>
  </el-form>
</template>

<style scoped>
.el-input {
  --el-input-width: 150px;
}

.el-select {
  --el-select-width: 150px;
}
</style>
