<script setup lang="ts">
import { useLogs } from '@stores/logs';
import { LogLevel } from '@customTypes/log';

const { logs, loading } = useLogs();

const getLevelType = (level: string) => {
  switch (level) {
    case LogLevel.WARNING:
      return 'warning';
    case LogLevel.FATAL:
    case LogLevel.ERROR:
      return 'danger';
    case LogLevel.DEBUG:
      return 'primary';
    default:
      return 'info';
  }
};
</script>

<template>
  <div>
    <div v-loading="loading" height="auto">
      <el-alert
        v-if="logs.length >= 100"
        title="Results are limited to 100. Please increase filter precision."
        type="warning"
      />
      <el-collapse accordion>
        <el-card class="text item" v-for="log in logs" :key="log.id">
          <el-collapse-item :name="log.id">
            <template #title>
              <div class="level">
                <el-tag :type="getLevelType(log.level)">{{
                  log.level.toUpperCase()
                }}</el-tag>
              </div>
              <div class="timestamp">
                <span>{{ new Date(log.timestamp).toLocaleString() }}</span>
              </div>
              <div>
                <span>{{ log.message }}</span>
              </div>
            </template>
            <div>
              <pre>{{ log }}</pre>
            </div>
          </el-collapse-item>
        </el-card>
      </el-collapse>
    </div>
  </div>
</template>

<style scoped>
.el-card {
  margin: 20px;
}

.level,
.timestamp {
  margin-right: 40px;
}
</style>
