<script setup lang="ts">
import Filters from '@components/Filters.vue';
import List from '@components/List.vue';
</script>

<template>
  <el-menu ellipsis mode="horizontal">
    <el-menu-item index="1">Log ingestor</el-menu-item>
  </el-menu>

  <section>
    <Filters />
    <List />
  </section>
</template>

<style scoped>
section {
  margin: 10px;
}
</style>
